{% extends "base_template.html" %}

{% block title %}{{ boulder_name }}{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/toggle.css') }}" rel="stylesheet" media="screen" />
<script src="{{ url_for('static', filename='js/turf.js') }} "></script>
<script src="{{ url_for('static', filename='js/problem_utils.js') }}"></script>
{% endblock %}

{% block content %}
<br />
<div id="holder">
  <div id="body">
    <div id="wrapper" class="container">
      <div style="text-align: center;">
        <h5>{{ boulder_name }}</h5>
      </div>
      <div style="text-align: center;">
        {{ boulder_data['feet'] }}
      </div>
      <br />
      <img id="wall-image" src="{{ wall_image }}" alt="wall section" />
      <canvas id="wall-canvas"></canvas>
      <hr width="50%" style="margin-bottom: 0.5rem; margin-top: 0.5rem;" />
      {% if boulder_data.get('notes', '') %}
      <div class="container">
        <div class="row d-flex justify-content-center">
          <p style="margin-top: 0; margin-bottom: 0.5rem;">
            <b>{{ notes }}:</b>
          </p>
          <div class="col-lg-12 d-flex justify-content-center">
            {{ boulder_data.get('notes', '') }}
          </div>
        </div>
      </div>
      <hr width=50% style="margin-bottom: 0.5rem; margin-top: 0.5rem;" />
      {% endif %}
      <div class="container">
        <div class="row d-flex justify-content-center" style="margin-top: 1rem;">
          <ul class="user-actions">
            {% if not current_user.is_anonymous %}
            <li>
              <!-- TODO: Add safename field to boulder -->
              <form id="addForm" action="/tick_list" method="post">
                <p>
                  <button type="submit" name="add_boulder_to_tick_list" value="add-boulder" class="custom-link">
                    <i class="bi bi-clock-fill"></i>
                  </button>
                  <!-- Required fields -->
                  <input type="hidden" name="origin" value="{{ origin }}" />
                  <input type="hidden" name="gym" value="{{ boulder_data['gym'] }}" />
                  <input type="hidden" name="section" value="{{ boulder_data['section'] }}" />
                  <input type="hidden" name="name" value="{{ boulder_data['name'] }}" />
                </p>
              </form>
            </li>
            <li>
              <form id="markAsDoneForm" action="/tick_list" method="post">
                <p>
                  <button type="submit" name="mark_boulder_as_done" value="done" class="custom-link">
                    <i class="bi bi-check-circle-fill"></i>
                  </button>
                  <!-- Required fields -->
                  <input type="hidden" name="is_done" value="true" />
                  <input type="hidden" name="origin" value="{{ origin }}" />
                  <input type="hidden" name="gym" value="{{ boulder_data['gym'] }}" />
                  <input type="hidden" name="section" value="{{ boulder_data['section'] }}" />
                  <input type="hidden" name="name" value="{{ boulder_data['name'] }}" />
                </p>
              </form>
            </li>
            {% endif %}
            <li>
              <p>
                <button type="button" onclick="downloadProblemAsImage()" class="custom-link">
                  <i class="bi bi-download"></i>
                </button>
              </p>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <br />
    </div>
  </div>

  <script>
    // It is important that this is wrapped in single quotes ('')
    // The code is not working otherwise
    var data = '{{ boulder_data | tojson | safe}}';
    var boulder_data = JSON.parse(data);
    const RADIUS = boulder_data.radius;
    // const RADIUS = 15 / 473;

    function loadBoulder() {
      var img = document.getElementById("wall-image");
      var cnvs = document.getElementById("wall-canvas");
      cnvs.style.position = "absolute";
      cnvs.style.left = img.offsetLeft + "px";
      cnvs.style.top = img.offsetTop + "px";
      cnvs.width = img.offsetWidth;
      cnvs.height = img.offsetHeight;

      var ctx = cnvs.getContext("2d");
      // ctx.width = cnvs.width;
      // ctx.height = cnvs.height;
      boulder_data.holds.forEach((hold) =>
        drawHold(
          ctx,
          hold.x * cnvs.width,
          hold.y * cnvs.height,
          RADIUS * cnvs.width,
          hold.color
        )
      );
    };

    window.onresize = loadBoulder;
    window.onload = loadBoulder;

    function drawHold(ctx, x, y, radius, color) {
      // Draw circle
      ctx.beginPath();
      ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
      ctx.lineWidth = 3;
      ctx.strokeStyle = color;
      ctx.stroke();
    }

    function downloadProblem() {
      // create canvas, load image, add holds, and set to download
      var downloadCanvas = document.createElement('canvas');
      var img_ref = document.getElementById('wall-image')

      document.getElementById('wrapper').insertBefore(downloadCanvas, img_ref);

      downloadCanvas.id = "download-canvas";
      downloadCanvas.style.position = "absolute";
      downloadCanvas.style.left = img_ref.offsetLeft + "px";
      downloadCanvas.style.top = img_ref.offsetTop + "px";
      downloadCanvas.width = img_ref.offsetWidth;
      downloadCanvas.height = img_ref.offsetHeight;

      dcctx = downloadCanvas.getContext('2d');

      // load image on canvas
      var img1 = new Image();
      img1.onload = function () {
        //draw background image
        dcctx.drawImage(img1, 0, 0, downloadCanvas.width, downloadCanvas.height);
        boulder_data.holds.forEach((hold) =>
          drawHold(
            dcctx,
            hold.x * downloadCanvas.width,
            hold.y * downloadCanvas.height,
            RADIUS * downloadCanvas.width,
            hold.color
          )
        );
        var link = document.createElement('a');
        link.id = "download-a";
        link.download = "{{ boulder_data['name'] }}.png";
        link.href = document.getElementById('download-canvas').toDataURL()
        link.click();
        $("#download-canvas").remove();
        $("#download-a").remove();
      };

      img1.src = '{{ wall_image }}';
    }

    var $star_rating = $(".star-rating .fa");

    var SetRatingStar = function () {
      return $star_rating.each(function () {
        if (
          parseInt($star_rating.siblings("form").children("input.rating-value").val()) >=
          parseInt($(this).data("rating"))
        ) {
          return $(this).removeClass("fa").removeClass("fa-star").addClass("fas").addClass("fa-star");
        } else {
          return $(this).removeClass("fas").removeClass("fa-star").addClass("fa").addClass("fa-star");
        }
      });
    };

    $star_rating.on("click", function () {
      $star_rating.siblings("form").children("input.rating-value").val($(this).data("rating"));
      // Update ratings
      SetRatingStar();
    });

    $("#bForm").submit(function (e) {
      $("<input />")
        .attr("type", "hidden")
        .attr("id", "boulder-name")
        .attr("name", "boulder_name")
        .attr("value", "{{ boulder_data['name'] }}")
        .appendTo("#bForm");
      return true;
    });

    window.onresize = loadBoulder;
    window.onload = loadBoulder;
    SetRatingStar();
  </script>
  {% endblock %}

  {% block styles %}
  <style>
    .custom-switch {
      display: flex;
      /* text-align: center; */
      justify-content: center;
      margin-left: auto;
      /* margin-top: 1rem; */
      /* margin-bottom: 1rem; */
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 45%;
    }

    @media (max-width: 767px) {
      img {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .user-actions {
      list-style: none;
      margin: 0;
      padding: 0.5rem;
    }

    .user-actions li {
        display: inline-block;
        margin: 0;
        padding: 0 1rem;
        font-size: 180%;
    }

    .user-actions i {
      color: #d7252c;
      text-shadow: 0.1px 0.1px black;
    }

    @media (max-width: 767px) {
        .user-actions li {
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
        }
    }

    .star-rating {
      line-height: 32px;
      font-size: 1.25em;
    }

    .star-rating .fas {
      color: yellow;
    }

    /* https://stackoverflow.com/questions/47702879/bootstrap-4-hex-colors-for-rails-app */
    .custom-link {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      color: #007bff;
      padding: 0;
      font-family: inherit;
      font-size: inherit;
    }

    @media (max-width: 767px) {
      .star-rating {
        /* line-height: 15px; */
        font-size: 0.8em;
      }

      hr {
        width: 95%;
      }
    }
  </style>
  {% endblock %}